@model List<Projeto.Presentation.Models.EstoqueConsultaModel>


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Consulta de Estoque</h2>


@{
    try { 

    if (TempData["Mensagem"].ToString() != "")
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Atenção!</strong> <p>  @TempData["Mensagem"] </p>
        </div>
        }
    }
    catch { }
}

<table class="table table-hover">
    <thead>
        <tr>
            <th class="bg-primary text-white">Código</th>
            <th class="bg-primary text-white">Nome do Estoque</th>
            <th class="bg-primary text-white">Qtde Produtos</th>
            <th class="bg-primary text-white">Operações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEstoque</td>
                <td>@item.Nome</td>
                <td>@item.QtdeProdutos</td>
                <td>
                    <a href="/Estoque/Edicao/@item.IdEstoque" class="btn btn-warning">Atualizar</a>
                    <a href="/Estoque/Exclusao/@item.IdEstoque" class="btn btn-danger @(item.QtdeProdutos>0 ? "disabled": string.Empty)" onclick="return confirm('Deseja excluir on estoque: @item.IdEstoque');">Excluir</a>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"> Quantitdade de Estoques: @Model.Count</td>
            <td>
                <a class="btn btn-dark btn-sm btn-block" href="/Estoque/Relatorio">Gerar Relatório de Estoque</a>
            </td>
        </tr>
    </tfoot>
</table>